# Extract Data that is not included in Dataset
Extract time series information such as 
   * day of week 
   * season
   * holidays by country
   
Only run once, which is why I am putting in jupyter notebook

In [1]:
import pandas as pd
import numpy as np
import holidays
from datetime import date, datetime

In [2]:
input_dir = "../data/RE-Europe/"
output_dir = "../data/processed/"

## Data Extraction
Day of week using date time. Seasons using predefined map. Holidays using node countries and holidays package

In [3]:
nodes = pd.read_csv(input_dir + "Static_data/network_nodes.csv")
nodes.head()

   ID name country  voltage   latitude  longitude
0   1  P-1     POR      380  42.094674  -8.113982
1   2  P-2     POR      380  41.587435  -8.326462
2   3  P-3     POR      380  41.585994  -6.722728
3   4  P-4     POR      380  41.597684  -6.342848
4   5  P-5     POR      380  41.373957  -7.350949

In [26]:
# generate raw time series for covered period
date_df = df = pd.DataFrame(
        {'Time': pd.date_range('2012-01-01', '2014-12-31', freq='1H', closed='left')}
     )
dates = pd.to_datetime(date_df['Time'], unit = "d").dt.date
date_df['date'] = dates

dates = dates.unique()
date_df.head()

                 Time        date
0 2012-01-01 00:00:00  2012-01-01
1 2012-01-01 01:00:00  2012-01-01
2 2012-01-01 02:00:00  2012-01-01
3 2012-01-01 03:00:00  2012-01-01
4 2012-01-01 04:00:00  2012-01-01

### Extract Day of Week and Seasons

In [27]:
# define season information
Y=2012
seasons = [('winter', (date(Y,  1,  1),  date(Y,  3, 20))),
           ('spring', (date(Y,  3, 21),  date(Y,  6, 20))),
           ('summer', (date(Y,  6, 21),  date(Y,  9, 22))),
           ('autumn', (date(Y,  9, 23),  date(Y, 12, 20))),
           ('winter', (date(Y, 12, 21),  date(Y, 12, 31)))]

def get_season(date, seasons):
    # update season 
    Y = date.year
    seasons = [(season, (start.replace(year = Y), end.replace(year=Y))) 
               for season, (start, end) in seasons]
    
    # extract season
    return [season for season, (start, end) in seasons
                if start <= date <= end][0]

get_season(date_df.loc[1000, "date"], seasons)

'winter'

In [32]:
# extract day of week, month, year and season
date_df['dow'] = date_df.date.apply(lambda x: x.weekday())
date_df['month'] = date_df.date.apply(lambda x: x.month)
date_df['year'] = date_df.date.apply(lambda x: x.year)
date_df['hour'] = date_df['Time'].dt.hour
date_df['season'] = date_df.date.apply(lambda x: get_season(x, seasons))
date_df.head()

                 Time        date  dow  month  year  hour  season
0 2012-01-01 00:00:00  2012-01-01    6      1  2012     0  winter
1 2012-01-01 01:00:00  2012-01-01    6      1  2012     1  winter
2 2012-01-01 02:00:00  2012-01-01    6      1  2012     2  winter
3 2012-01-01 03:00:00  2012-01-01    6      1  2012     3  winter
4 2012-01-01 04:00:00  2012-01-01    6      1  2012     4  winter

### Extract Holidays

In [33]:
# map country tags to work versions that work with holidays package
country_dict = {'POR': "PT",
             'ESP': "ES",
             'FRA': "FRA",
             'BEL': "BE",
             'CHE': "CH",
             'LUX': "LU",
             'NLD': "NL",
             'ITA': "IT",
             'DEU': "DE",
             'AUT': "AT",
             'DNK': "DK",
             'CZE': "CZ",
             'POL': "PL",
             'HUN': "HU",
             'SVK': "SK",
             'SVN': "SI",
             'HRV': "HR",
             'GRC': "GR",
             'ALB': None,
             'MKD': None,
             'BGR': "BG",
             'MNE': None,
             'BIH': None,
             'SRB': "RS",
             'ROU': None}

In [34]:
# generate our holiday lookup dictionary
holiday_dict = {}
countries = list(nodes.country.unique())

for y in [2012,2013,2014]:
    for c in countries:
        try: 
            hol = list(holidays.CountryHoliday(country_dict[c],years=y).keys())
            holiday_dict[c] += hol
        except KeyError:
            holiday_dict[c] = hol

holiday_dict

{'POR': [datetime.date(2012, 1, 1),
  datetime.date(2012, 4, 6),
  datetime.date(2012, 4, 8),
  datetime.date(2012, 6, 7),
  datetime.date(2012, 10, 5),
  datetime.date(2012, 11, 1),
  datetime.date(2012, 12, 1),
  datetime.date(2012, 4, 25),
  datetime.date(2012, 5, 1),
  datetime.date(2012, 6, 10),
  datetime.date(2012, 8, 15),
  datetime.date(2012, 12, 8),
  datetime.date(2012, 12, 25),
  datetime.date(2013, 1, 1),
  datetime.date(2013, 3, 29),
  datetime.date(2013, 3, 31),
  datetime.date(2013, 4, 25),
  datetime.date(2013, 5, 1),
  datetime.date(2013, 6, 10),
  datetime.date(2013, 8, 15),
  datetime.date(2013, 12, 8),
  datetime.date(2013, 12, 25),
  datetime.date(2014, 1, 1),
  datetime.date(2014, 4, 18),
  datetime.date(2014, 4, 20),
  datetime.date(2014, 4, 25),
  datetime.date(2014, 5, 1),
  datetime.date(2014, 6, 10),
  datetime.date(2014, 8, 15),
  datetime.date(2014, 12, 8),
  datetime.date(2014, 12, 25)],
 'ESP': [datetime.date(2012, 1, 1),
  datetime.date(2012, 1, 6),
  datetime.date(2012, 4, 6),
  datetime.date(2012, 5, 1),
  datetime.date(2012, 8, 15),
  datetime.date(2012, 10, 12),
  datetime.date(2012, 11, 1),
  datetime.date(2012, 12, 6),
  datetime.date(2012, 12, 8),
  datetime.date(2012, 12, 25),
  datetime.date(2013, 1, 1),
  datetime.date(2013, 1, 6),
  datetime.date(2013, 3, 29),
  datetime.date(2013, 5, 1),
  datetime.date(2013, 8, 15),
  datetime.date(2013, 10, 12),
  datetime.date(2013, 11, 1),
  datetime.date(2013, 12, 6),
  datetime.date(2013, 12, 8),
  datetime.date(2013, 12, 25),
  datetime.date(2014, 1, 1),
  datetime.date(2014, 1, 6),
  datetime.date(2014, 4, 18),
  datetime.date(2014, 5, 1),
  datetime.date(2014, 8, 15),
  datetime.date(2014, 10, 12),
  datetime.date(2014, 11, 1),
  datetime.date(2014, 12, 6),
  datetime.date(2014, 12, 8),
  datetime.date(2014, 12, 25)],
 'FRA': [datetime.date(2012, 1, 1),
  datetime.date(2012, 5, 1),
  datetime.date(2012, 5, 8),
  datetime.date(2012, 7, 14),
  datetime.date(2012, 11, 11),
  datetime.date(2012, 4, 9),
  datetime.date(2012, 5, 28),
  datetime.date(2012, 5, 17),
  datetime.date(2012, 8, 15),
  datetime.date(2012, 11, 1),
  datetime.date(2012, 12, 25),
  datetime.date(2013, 1, 1),
  datetime.date(2013, 5, 1),
  datetime.date(2013, 5, 8),
  datetime.date(2013, 7, 14),
  datetime.date(2013, 11, 11),
  datetime.date(2013, 4, 1),
  datetime.date(2013, 5, 20),
  datetime.date(2013, 5, 9),
  datetime.date(2013, 8, 15),
  datetime.date(2013, 11, 1),
  datetime.date(2013, 12, 25),
  datetime.date(2014, 1, 1),
  datetime.date(2014, 5, 1),
  datetime.date(2014, 5, 8),
  datetime.date(2014, 7, 14),
  datetime.date(2014, 11, 11),
  datetime.date(2014, 4, 21),
  datetime.date(2014, 6, 9),
  datetime.date(2014, 5, 29),
  datetime.date(2014, 8, 15),
  datetime.date(2014, 11, 1),
  datetime.date(2014, 12, 25)],
 'BEL': [datetime.date(2012, 1, 1),
  datetime.date(2012, 4, 8),
  datetime.date(2012, 4, 9),
  datetime.date(2012, 5, 17),
  datetime.date(2012, 5, 27),
  datetime.date(2012, 5, 28),
  datetime.date(2012, 5, 1),
  datetime.date(2012, 7, 21),
  datetime.date(2012, 8, 15),
  datetime.date(2012, 11, 1),
  datetime.date(2012, 11, 11),
  datetime.date(2012, 12, 25),
  datetime.date(2013, 1, 1),
  datetime.date(2013, 3, 31),
  datetime.date(2013, 4, 1),
  datetime.date(2013, 5, 9),
  datetime.date(2013, 5, 19),
  datetime.date(2013, 5, 20),
  datetime.date(2013, 5, 1),
  datetime.date(2013, 7, 21),
  datetime.date(2013, 8, 15),
  datetime.date(2013, 11, 1),
  datetime.date(2013, 11, 11),
  datetime.date(2013, 12, 25),
  datetime.date(2014, 1, 1),
  datetime.date(2014, 4, 20),
  datetime.date(2014, 4, 21),
  datetime.date(2014, 5, 29),
  datetime.date(2014, 6, 8),
  datetime.date(2014, 6, 9),
  datetime.date(2014, 5, 1),
  datetime.date(2014, 7, 21),
  datetime.date(2014, 8, 15),
  datetime.date(2014, 11, 1),
  datetime.date(2014, 11, 11),
  datetime.date(2014, 12, 25)],
 'CHE': [datetime.date(2012, 1, 1),
  datetime.date(2012, 4, 8),
  datetime.date(2012, 4, 6),
  datetime.date(2012, 4, 9),
  datetime.date(2012, 5, 17),
  datetime.date(2012, 5, 27),
  datetime.date(2012, 5, 28),
  datetime.date(2012, 8, 1),
  datetime.date(2012, 12, 25),
  datetime.date(2013, 1, 1),
  datetime.date(2013, 3, 31),
  datetime.date(2013, 3, 29),
  datetime.date(2013, 4, 1),
  datetime.date(2013, 5, 9),
  datetime.date(2013, 5, 19),
  datetime.date(2013, 5, 20),
  datetime.date(2013, 8, 1),
  datetime.date(2013, 12, 25),
  datetime.date(2014, 1, 1),
  datetime.date(2014, 4, 20),
  datetime.date(2014, 4, 18),
  datetime.date(2014, 4, 21),
  datetime.date(2014, 5, 29),
  datetime.date(2014, 6, 8),
  datetime.date(2014, 6, 9),
  datetime.date(2014, 8, 1),
  datetime.date(2014, 12, 25)],
 'LUX': [datetime.date(2012, 1, 1),
  datetime.date(2012, 4, 9),
  datetime.date(2012, 5, 1),
  datetime.date(2012, 5, 17),
  datetime.date(2012, 5, 28),
  datetime.date(2012, 6, 23),
  datetime.date(2012, 8, 15),
  datetime.date(2012, 11, 1),
  datetime.date(2012, 12, 25),
  datetime.date(2012, 12, 26),
  datetime.date(2013, 1, 1),
  datetime.date(2013, 4, 1),
  datetime.date(2013, 5, 1),
  datetime.date(2013, 5, 9),
  datetime.date(2013, 5, 20),
  datetime.date(2013, 6, 23),
  datetime.date(2013, 8, 15),
  datetime.date(2013, 11, 1),
  datetime.date(2013, 12, 25),
  datetime.date(2013, 12, 26),
  datetime.date(2014, 1, 1),
  datetime.date(2014, 4, 21),
  datetime.date(2014, 5, 1),
  datetime.date(2014, 5, 29),
  datetime.date(2014, 6, 9),
  datetime.date(2014, 6, 23),
  datetime.date(2014, 8, 15),
  datetime.date(2014, 11, 1),
  datetime.date(2014, 12, 25),
  datetime.date(2014, 12, 26)],
 'NLD': [datetime.date(2012, 1, 1),
  datetime.date(2012, 4, 8),
  datetime.date(2012, 4, 9),
  datetime.date(2012, 5, 17),
  datetime.date(2012, 5, 27),
  datetime.date(2012, 5, 28),
  datetime.date(2012, 12, 25),
  datetime.date(2012, 12, 26),
  datetime.date(2012, 4, 30),
  datetime.date(2013, 1, 1),
  datetime.date(2013, 3, 31),
  datetime.date(2013, 4, 1),
  datetime.date(2013, 5, 9),
  datetime.date(2013, 5, 19),
  datetime.date(2013, 5, 20),
  datetime.date(2013, 12, 25),
  datetime.date(2013, 12, 26),
  datetime.date(2013, 4, 30),
  datetime.date(2014, 1, 1),
  datetime.date(2014, 4, 20),
  datetime.date(2014, 4, 21),
  datetime.date(2014, 5, 29),
  datetime.date(2014, 6, 8),
  datetime.date(2014, 6, 9),
  datetime.date(2014, 12, 25),
  datetime.date(2014, 12, 26),
  datetime.date(2014, 4, 26)],
 'ITA': [datetime.date(2012, 1, 1),
  datetime.date(2012, 1, 6),
  datetime.date(2012, 4, 8),
  datetime.date(2012, 4, 9),
  datetime.date(2012, 4, 25),
  datetime.date(2012, 5, 1),
  datetime.date(2012, 6, 2),
  datetime.date(2012, 8, 15),
  datetime.date(2012, 11, 1),
  datetime.date(2012, 12, 8),
  datetime.date(2012, 12, 25),
  datetime.date(2012, 12, 26),
  datetime.date(2013, 1, 1),
  datetime.date(2013, 1, 6),
  datetime.date(2013, 3, 31),
  datetime.date(2013, 4, 1),
  datetime.date(2013, 4, 25),
  datetime.date(2013, 5, 1),
  datetime.date(2013, 6, 2),
  datetime.date(2013, 8, 15),
  datetime.date(2013, 11, 1),
  datetime.date(2013, 12, 8),
  datetime.date(2013, 12, 25),
  datetime.date(2013, 12, 26),
  datetime.date(2014, 1, 1),
  datetime.date(2014, 1, 6),
  datetime.date(2014, 4, 20),
  datetime.date(2014, 4, 21),
  datetime.date(2014, 4, 25),
  datetime.date(2014, 5, 1),
  datetime.date(2014, 6, 2),
  datetime.date(2014, 8, 15),
  datetime.date(2014, 11, 1),
  datetime.date(2014, 12, 8),
  datetime.date(2014, 12, 25),
  datetime.date(2014, 12, 26)],
 'DEU': [datetime.date(2012, 1, 1),
  datetime.date(2012, 4, 6),
  datetime.date(2012, 4, 9),
  datetime.date(2012, 5, 1),
  datetime.date(2012, 5, 17),
  datetime.date(2012, 5, 28),
  datetime.date(2012, 10, 3),
  datetime.date(2012, 12, 25),
  datetime.date(2012, 12, 26),
  datetime.date(2013, 1, 1),
  datetime.date(2013, 3, 29),
  datetime.date(2013, 4, 1),
  datetime.date(2013, 5, 1),
  datetime.date(2013, 5, 9),
  datetime.date(2013, 5, 20),
  datetime.date(2013, 10, 3),
  datetime.date(2013, 12, 25),
  datetime.date(2013, 12, 26),
  datetime.date(2014, 1, 1),
  datetime.date(2014, 4, 18),
  datetime.date(2014, 4, 21),
  datetime.date(2014, 5, 1),
  datetime.date(2014, 5, 29),
  datetime.date(2014, 6, 9),
  datetime.date(2014, 10, 3),
  datetime.date(2014, 12, 25),
  datetime.date(2014, 12, 26)],
 'AUT': [datetime.date(2012, 1, 1),
  datetime.date(2012, 1, 6),
  datetime.date(2012, 4, 9),
  datetime.date(2012, 5, 1),
  datetime.date(2012, 5, 17),
  datetime.date(2012, 5, 28),
  datetime.date(2012, 6, 7),
  datetime.date(2012, 8, 15),
  datetime.date(2012, 10, 26),
  datetime.date(2012, 11, 1),
  datetime.date(2012, 12, 8),
  datetime.date(2012, 12, 25),
  datetime.date(2012, 12, 26),
  datetime.date(2013, 1, 1),
  datetime.date(2013, 1, 6),
  datetime.date(2013, 4, 1),
  datetime.date(2013, 5, 1),
  datetime.date(2013, 5, 9),
  datetime.date(2013, 5, 20),
  datetime.date(2013, 5, 30),
  datetime.date(2013, 8, 15),
  datetime.date(2013, 10, 26),
  datetime.date(2013, 11, 1),
  datetime.date(2013, 12, 8),
  datetime.date(2013, 12, 25),
  datetime.date(2013, 12, 26),
  datetime.date(2014, 1, 1),
  datetime.date(2014, 1, 6),
  datetime.date(2014, 4, 21),
  datetime.date(2014, 5, 1),
  datetime.date(2014, 5, 29),
  datetime.date(2014, 6, 9),
  datetime.date(2014, 6, 19),
  datetime.date(2014, 8, 15),
  datetime.date(2014, 10, 26),
  datetime.date(2014, 11, 1),
  datetime.date(2014, 12, 8),
  datetime.date(2014, 12, 25),
  datetime.date(2014, 12, 26)],
 'DNK': [datetime.date(2012, 1, 1),
  datetime.date(2012, 4, 1),
  datetime.date(2012, 4, 5),
  datetime.date(2012, 4, 6),
  datetime.date(2012, 4, 8),
  datetime.date(2012, 4, 9),
  datetime.date(2012, 5, 4),
  datetime.date(2012, 5, 17),
  datetime.date(2012, 5, 27),
  datetime.date(2012, 5, 28),
  datetime.date(2012, 12, 25),
  datetime.date(2012, 12, 26),
  datetime.date(2013, 1, 1),
  datetime.date(2013, 3, 24),
  datetime.date(2013, 3, 28),
  datetime.date(2013, 3, 29),
  datetime.date(2013, 3, 31),
  datetime.date(2013, 4, 1),
  datetime.date(2013, 4, 26),
  datetime.date(2013, 5, 9),
  datetime.date(2013, 5, 19),
  datetime.date(2013, 5, 20),
  datetime.date(2013, 12, 25),
  datetime.date(2013, 12, 26),
  datetime.date(2014, 1, 1),
  datetime.date(2014, 4, 13),
  datetime.date(2014, 4, 17),
  datetime.date(2014, 4, 18),
  datetime.date(2014, 4, 20),
  datetime.date(2014, 4, 21),
  datetime.date(2014, 5, 16),
  datetime.date(2014, 5, 29),
  datetime.date(2014, 6, 8),
  datetime.date(2014, 6, 9),
  datetime.date(2014, 12, 25),
  datetime.date(2014, 12, 26)],
 'CZE': [datetime.date(2012, 1, 1),
  datetime.date(2012, 4, 9),
  datetime.date(2012, 5, 1),
  datetime.date(2012, 5, 8),
  datetime.date(2012, 7, 5),
  datetime.date(2012, 7, 6),
  datetime.date(2012, 9, 28),
  datetime.date(2012, 10, 28),
  datetime.date(2012, 11, 17),
  datetime.date(2012, 12, 24),
  datetime.date(2012, 12, 25),
  datetime.date(2012, 12, 26),
  datetime.date(2013, 1, 1),
  datetime.date(2013, 4, 1),
  datetime.date(2013, 5, 1),
  datetime.date(2013, 5, 8),
  datetime.date(2013, 7, 5),
  datetime.date(2013, 7, 6),
  datetime.date(2013, 9, 28),
  datetime.date(2013, 10, 28),
  datetime.date(2013, 11, 17),
  datetime.date(2013, 12, 24),
  datetime.date(2013, 12, 25),
  datetime.date(2013, 12, 26),
  datetime.date(2014, 1, 1),
  datetime.date(2014, 4, 21),
  datetime.date(2014, 5, 1),
  datetime.date(2014, 5, 8),
  datetime.date(2014, 7, 5),
  datetime.date(2014, 7, 6),
  datetime.date(2014, 9, 28),
  datetime.date(2014, 10, 28),
  datetime.date(2014, 11, 17),
  datetime.date(2014, 12, 24),
  datetime.date(2014, 12, 25),
  datetime.date(2014, 12, 26)],
 'POL': [datetime.date(2012, 1, 1),
  datetime.date(2012, 1, 6),
  datetime.date(2012, 4, 8),
  datetime.date(2012, 4, 9),
  datetime.date(2012, 5, 1),
  datetime.date(2012, 5, 3),
  datetime.date(2012, 5, 27),
  datetime.date(2012, 6, 7),
  datetime.date(2012, 8, 15),
  datetime.date(2012, 11, 1),
  datetime.date(2012, 11, 11),
  datetime.date(2012, 12, 25),
  datetime.date(2012, 12, 26),
  datetime.date(2013, 1, 1),
  datetime.date(2013, 1, 6),
  datetime.date(2013, 3, 31),
  datetime.date(2013, 4, 1),
  datetime.date(2013, 5, 1),
  datetime.date(2013, 5, 3),
  datetime.date(2013, 5, 19),
  datetime.date(2013, 5, 30),
  datetime.date(2013, 8, 15),
  datetime.date(2013, 11, 1),
  datetime.date(2013, 11, 11),
  datetime.date(2013, 12, 25),
  datetime.date(2013, 12, 26),
  datetime.date(2014, 1, 1),
  datetime.date(2014, 1, 6),
  datetime.date(2014, 4, 20),
  datetime.date(2014, 4, 21),
  datetime.date(2014, 5, 1),
  datetime.date(2014, 5, 3),
  datetime.date(2014, 6, 8),
  datetime.date(2014, 6, 19),
  datetime.date(2014, 8, 15),
  datetime.date(2014, 11, 1),
  datetime.date(2014, 11, 11),
  datetime.date(2014, 12, 25),
  datetime.date(2014, 12, 26)],
 'HUN': [datetime.date(2012, 1, 1),
  datetime.date(2012, 3, 15),
  datetime.date(2012, 3, 16),
  datetime.date(2012, 4, 8),
  datetime.date(2012, 4, 9),
  datetime.date(2012, 5, 27),
  datetime.date(2012, 5, 28),
  datetime.date(2012, 5, 1),
  datetime.date(2012, 4, 30),
  datetime.date(2012, 8, 20),
  datetime.date(2012, 10, 23),
  datetime.date(2012, 10, 22),
  datetime.date(2012, 11, 1),
  datetime.date(2012, 11, 2),
  datetime.date(2012, 12, 24),
  datetime.date(2012, 12, 25),
  datetime.date(2012, 12, 26),
  datetime.date(2013, 1, 1),
  datetime.date(2013, 3, 15),
  datetime.date(2013, 3, 31),
  datetime.date(2013, 4, 1),
  datetime.date(2013, 5, 19),
  datetime.date(2013, 5, 20),
  datetime.date(2013, 5, 1),
  datetime.date(2013, 8, 20),
  datetime.date(2013, 8, 19),
  datetime.date(2013, 10, 23),
  datetime.date(2013, 11, 1),
  datetime.date(2013, 12, 24),
  datetime.date(2013, 12, 25),
  datetime.date(2013, 12, 26),
  datetime.date(2013, 12, 27),
  datetime.date(2014, 1, 1),
  datetime.date(2014, 3, 15),
  datetime.date(2014, 4, 20),
  datetime.date(2014, 4, 21),
  datetime.date(2014, 6, 8),
  datetime.date(2014, 6, 9),
  datetime.date(2014, 5, 1),
  datetime.date(2014, 5, 2),
  datetime.date(2014, 8, 20),
  datetime.date(2014, 10, 23),
  datetime.date(2014, 10, 24),
  datetime.date(2014, 11, 1),
  datetime.date(2014, 12, 24),
  datetime.date(2014, 12, 25),
  datetime.date(2014, 12, 26)],
 'SVK': [datetime.date(2012, 1, 1),
  datetime.date(2012, 1, 6),
  datetime.date(2012, 4, 6),
  datetime.date(2012, 4, 9),
  datetime.date(2012, 5, 1),
  datetime.date(2012, 5, 8),
  datetime.date(2012, 7, 5),
  datetime.date(2012, 8, 29),
  datetime.date(2012, 9, 1),
  datetime.date(2012, 9, 15),
  datetime.date(2012, 11, 1),
  datetime.date(2012, 11, 17),
  datetime.date(2012, 12, 24),
  datetime.date(2012, 12, 25),
  datetime.date(2012, 12, 26),
  datetime.date(2013, 1, 1),
  datetime.date(2013, 1, 6),
  datetime.date(2013, 3, 29),
  datetime.date(2013, 4, 1),
  datetime.date(2013, 5, 1),
  datetime.date(2013, 5, 8),
  datetime.date(2013, 7, 5),
  datetime.date(2013, 8, 29),
  datetime.date(2013, 9, 1),
  datetime.date(2013, 9, 15),
  datetime.date(2013, 11, 1),
  datetime.date(2013, 11, 17),
  datetime.date(2013, 12, 24),
  datetime.date(2013, 12, 25),
  datetime.date(2013, 12, 26),
  datetime.date(2014, 1, 1),
  datetime.date(2014, 1, 6),
  datetime.date(2014, 4, 18),
  datetime.date(2014, 4, 21),
  datetime.date(2014, 5, 1),
  datetime.date(2014, 5, 8),
  datetime.date(2014, 7, 5),
  datetime.date(2014, 8, 29),
  datetime.date(2014, 9, 1),
  datetime.date(2014, 9, 15),
  datetime.date(2014, 11, 1),
  datetime.date(2014, 11, 17),
  datetime.date(2014, 12, 24),
  datetime.date(2014, 12, 25),
  datetime.date(2014, 12, 26)],
 'SVN': [datetime.date(2012, 1, 1),
  datetime.date(2012, 1, 2),
  datetime.date(2012, 2, 8),
  datetime.date(2012, 4, 9),
  datetime.date(2012, 4, 27),
  datetime.date(2012, 5, 1),
  datetime.date(2012, 5, 2),
  datetime.date(2012, 6, 25),
  datetime.date(2012, 8, 15),
  datetime.date(2012, 10, 31),
  datetime.date(2012, 11, 1),
  datetime.date(2012, 12, 25),
  datetime.date(2012, 12, 26),
  datetime.date(2013, 1, 1),
  datetime.date(2013, 2, 8),
  datetime.date(2013, 4, 1),
  datetime.date(2013, 4, 27),
  datetime.date(2013, 5, 1),
  datetime.date(2013, 5, 2),
  datetime.date(2013, 6, 25),
  datetime.date(2013, 8, 15),
  datetime.date(2013, 10, 31),
  datetime.date(2013, 11, 1),
  datetime.date(2013, 12, 25),
  datetime.date(2013, 12, 26),
  datetime.date(2014, 1, 1),
  datetime.date(2014, 2, 8),
  datetime.date(2014, 4, 21),
  datetime.date(2014, 4, 27),
  datetime.date(2014, 5, 1),
  datetime.date(2014, 5, 2),
  datetime.date(2014, 6, 25),
  datetime.date(2014, 8, 15),
  datetime.date(2014, 10, 31),
  datetime.date(2014, 11, 1),
  datetime.date(2014, 12, 25),
  datetime.date(2014, 12, 26)],
 'HRV': [datetime.date(2012, 1, 1),
  datetime.date(2012, 1, 6),
  datetime.date(2012, 4, 8),
  datetime.date(2012, 4, 9),
  datetime.date(2012, 6, 7),
  datetime.date(2012, 5, 1),
  datetime.date(2012, 6, 22),
  datetime.date(2012, 6, 25),
  datetime.date(2012, 8, 5),
  datetime.date(2012, 8, 15),
  datetime.date(2012, 10, 8),
  datetime.date(2012, 11, 1),
  datetime.date(2012, 12, 25),
  datetime.date(2012, 12, 26),
  datetime.date(2013, 1, 1),
  datetime.date(2013, 1, 6),
  datetime.date(2013, 3, 31),
  datetime.date(2013, 4, 1),
  datetime.date(2013, 5, 30),
  datetime.date(2013, 5, 1),
  datetime.date(2013, 6, 22),
  datetime.date(2013, 6, 25),
  datetime.date(2013, 8, 5),
  datetime.date(2013, 8, 15),
  datetime.date(2013, 10, 8),
  datetime.date(2013, 11, 1),
  datetime.date(2013, 12, 25),
  datetime.date(2013, 12, 26),
  datetime.date(2014, 1, 1),
  datetime.date(2014, 1, 6),
  datetime.date(2014, 4, 20),
  datetime.date(2014, 4, 21),
  datetime.date(2014, 6, 19),
  datetime.date(2014, 5, 1),
  datetime.date(2014, 6, 22),
  datetime.date(2014, 6, 25),
  datetime.date(2014, 8, 5),
  datetime.date(2014, 8, 15),
  datetime.date(2014, 10, 8),
  datetime.date(2014, 11, 1),
  datetime.date(2014, 12, 25),
  datetime.date(2014, 12, 26)],
 'GRC': [datetime.date(2012, 1, 1),
  datetime.date(2012, 1, 6),
  datetime.date(2012, 2, 27),
  datetime.date(2012, 3, 25),
  datetime.date(2012, 4, 16),
  datetime.date(2012, 5, 1),
  datetime.date(2012, 6, 4),
  datetime.date(2012, 8, 15),
  datetime.date(2012, 10, 28),
  datetime.date(2012, 12, 25),
  datetime.date(2012, 12, 26),
  datetime.date(2013, 1, 1),
  datetime.date(2013, 1, 6),
  datetime.date(2013, 3, 18),
  datetime.date(2013, 3, 25),
  datetime.date(2013, 5, 6),
  datetime.date(2013, 5, 1),
  datetime.date(2013, 6, 24),
  datetime.date(2013, 8, 15),
  datetime.date(2013, 10, 28),
  datetime.date(2013, 12, 25),
  datetime.date(2013, 12, 26),
  datetime.date(2014, 1, 1),
  datetime.date(2014, 1, 6),
  datetime.date(2014, 3, 3),
  datetime.date(2014, 3, 25),
  datetime.date(2014, 4, 21),
  datetime.date(2014, 5, 1),
  datetime.date(2014, 6, 9),
  datetime.date(2014, 8, 15),
  datetime.date(2014, 10, 28),
  datetime.date(2014, 12, 25),
  datetime.date(2014, 12, 26)],
 'ALB': [datetime.date(2014, 1, 1),
  datetime.date(2014, 1, 6),
  datetime.date(2014, 3, 3),
  datetime.date(2014, 3, 25),
  datetime.date(2014, 4, 21),
  datetime.date(2014, 5, 1),
  datetime.date(2014, 6, 9),
  datetime.date(2014, 8, 15),
  datetime.date(2014, 10, 28),
  datetime.date(2014, 12, 25),
  datetime.date(2014, 12, 26)],
 'MKD': [datetime.date(2014, 1, 1),
  datetime.date(2014, 1, 6),
  datetime.date(2014, 3, 3),
  datetime.date(2014, 3, 25),
  datetime.date(2014, 4, 21),
  datetime.date(2014, 5, 1),
  datetime.date(2014, 6, 9),
  datetime.date(2014, 8, 15),
  datetime.date(2014, 10, 28),
  datetime.date(2014, 12, 25),
  datetime.date(2014, 12, 26)],
 'BGR': [datetime.date(2012, 1, 1),
  datetime.date(2012, 3, 3),
  datetime.date(2012, 5, 1),
  datetime.date(2012, 5, 6),
  datetime.date(2012, 5, 24),
  datetime.date(2012, 9, 6),
  datetime.date(2012, 9, 22),
  datetime.date(2012, 11, 1),
  datetime.date(2012, 12, 24),
  datetime.date(2012, 12, 25),
  datetime.date(2012, 12, 26),

In [35]:
# now for each country generate the time series values
# I will then loop through every node / country combination and add the columns
holiday_time_dict = {}
for c in countries:
    holiday_time_dict[c] = date_df.date.apply(lambda x: 1 if x in holiday_dict[c] else 0)
    
holiday_time_dict

{'POR': 0        1
 1        1
 2        1
 3        1
 4        1
         ..
 26275    0
 26276    0
 26277    0
 26278    0
 26279    0
 Name: date, Length: 26280, dtype: int64, 'ESP': 0        1
 1        1
 2        1
 3        1
 4        1
         ..
 26275    0
 26276    0
 26277    0
 26278    0
 26279    0
 Name: date, Length: 26280, dtype: int64, 'FRA': 0        1
 1        1
 2        1
 3        1
 4        1
         ..
 26275    0
 26276    0
 26277    0
 26278    0
 26279    0
 Name: date, Length: 26280, dtype: int64, 'BEL': 0        1
 1        1
 2        1
 3        1
 4        1
         ..
 26275    0
 26276    0
 26277    0
 26278    0
 26279    0
 Name: date, Length: 26280, dtype: int64, 'CHE': 0        1
 1        1
 2        1
 3        1
 4        1
         ..
 26275    0
 26276    0
 26277    0
 26278    0
 26279    0
 Name: date, Length: 26280, dtype: int64, 'LUX': 0        1
 1        1
 2        1
 3        1
 4        1
         ..
 26275    0
 26276    0
 26277    0
 26278    0
 26279    0
 Name: date, Length: 26280, dtype: int64, 'NLD': 0        1
 1        1
 2        1
 3        1
 4        1
         ..
 26275    0
 26276    0
 26277    0
 26278    0
 26279    0
 Name: date, Length: 26280, dtype: int64, 'ITA': 0        1
 1        1
 2        1
 3        1
 4        1
         ..
 26275    0
 26276    0
 26277    0
 26278    0
 26279    0
 Name: date, Length: 26280, dtype: int64, 'DEU': 0        1
 1        1
 2        1
 3        1
 4        1
         ..
 26275    0
 26276    0
 26277    0
 26278    0
 26279    0
 Name: date, Length: 26280, dtype: int64, 'AUT': 0        1
 1        1
 2        1
 3        1
 4        1
         ..
 26275    0
 26276    0
 26277    0
 26278    0
 26279    0
 Name: date, Length: 26280, dtype: int64, 'DNK': 0        1
 1        1
 2        1
 3        1
 4        1
         ..
 26275    0
 26276    0
 26277    0
 26278    0
 26279    0
 Name: date, Length: 26280, dtype: int64, 'CZE': 0        1
 1        1
 2        1
 3        1
 4        1
         ..
 26275    0
 26276    0
 26277    0
 26278    0
 26279    0
 Name: date, Length: 26280, dtype: int64, 'POL': 0        1
 1        1
 2        1
 3        1
 4        1
         ..
 26275    0
 26276    0
 26277    0
 26278    0
 26279    0
 Name: date, Length: 26280, dtype: int64, 'HUN': 0        1
 1        1
 2        1
 3        1
 4        1
         ..
 26275    0
 26276    0
 26277    0
 26278    0
 26279    0
 Name: date, Length: 26280, dtype: int64, 'SVK': 0        1
 1        1
 2        1
 3        1
 4        1
         ..
 26275    0
 26276    0
 26277    0
 26278    0
 26279    0
 Name: date, Length: 26280, dtype: int64, 'SVN': 0        1
 1        1
 2        1
 3        1
 4        1
         ..
 26275    0
 26276    0
 26277    0
 26278    0
 26279    0
 Name: date, Length: 26280, dtype: int64, 'HRV': 0        1
 1        1
 2        1
 3        1
 4        1
         ..
 26275    0
 26276    0
 26277    0
 26278    0
 26279    0
 Name: date, Length: 26280, dtype: int64, 'GRC': 0        1
 1        1
 2        1
 3        1
 4        1
         ..
 26275    0
 26276    0
 26277    0
 26278    0
 26279    0
 Name: date, Length: 26280, dtype: int64, 'ALB': 0        0
 1        0
 2        0
 3        0
 4        0
         ..
 26275    0
 26276    0
 26277    0
 26278    0
 26279    0
 Name: date, Length: 26280, dtype: int64, 'MKD': 0        0
 1        0
 2        0
 3        0
 4        0
         ..
 26275    0
 26276    0
 26277    0
 26278    0
 26279    0
 Name: date, Length: 26280, dtype: int64, 'BGR': 0        1
 1        1
 2        1
 3        1
 4        1
         ..
 26275    0
 26276    0
 26277    0
 26278    0
 26279    0
 Name: date, Length: 26280, dtype: int64, 'MNE': 0        0
 1        0
 2        0
 3        0
 4        0
         ..
 26275    0
 26276    0
 26277    0
 26278    0
 26279    0
 Name: date, Length: 26280, dtype: int64, 'BIH': 0        0
 1        0
 2        0
 3        0
 4        0
         ..
 26275    0
 26276    0
 26277    0
 26278    0
 26279    0
 Name: date, Length: 26280, dtype: int64, 'SRB': 0        1
 1        1
 2        1
 3        1
 4        1
         ..
 26275    0
 26276    0
 26277    0
 26278    0
 26279    0
 Name: date, Length: 26280, dtype: int64, 'ROU': 0        0
 1        0
 2        0
 3        0
 4        0
         ..
 26275    0
 26276    0
 26277    0
 26278    0
 26279    0
 Name: date, Length: 26280, dtype: int64}

In [36]:
for i, row in nodes.iterrows():
    node_id = row.ID
    country = row.country
    date_df[str(node_id)] = holiday_time_dict[country]
    
date_df

,Time,date,dow,month,year,hour,season,1,2,3,...,1505,1506,1507,1508,1509,1510,1511,1512,1513,1514
0,2012-01-01 00:00:00,2012-01-01,6,1,2012,0,winter,1,1,1,...,1,1,1,1,1,1,1,0,1,1
1,2012-01-01 01:00:00,2012-01-01,6,1,2012,1,winter,1,1,1,...,1,1,1,1,1,1,1,0,1,1
2,2012-01-01 02:00:00,2012-01-01,6,1,2012,2,winter,1,1,1,...,1,1,1,1,1,1,1,0,1,1
3,2012-01-01 03:00:00,2012-01-01,6,1,2012,3,winter,1,1,1,...,1,1,1,1,1,1,1,0,1,1
4,2012-01-01 04:00:00,2012-01-01,6,1,2012,4,winter,1,1,1,...,1,1,1,1,1,1,1,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26275,2014-12-30 19:00:00,2014-12-30,1,12,2014,19,winter,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26276,2014-12-30 20:00:00,2014-12-30,1,12,2014,20,winter,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26277,2014-12-30 21:00:00,2014-12-30,1,12,2014,21,winter,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26278,2014-12-30 22:00:00,2014-12-30,1,12,2014,22,winter,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26279,2014-12-30 23:00:00,2014-12-30,1,12,2014,23,winter,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [37]:
# drop date column and export 
date_df.drop(columns = "date", inplace = True)
date_df.to_csv(output_dir + "holidays and seasons.csv", index = False)